List Comprehension, hanya bisa digunakan kl listnya belum terlalu complicated

In [ ]:
list_name = 'asep', 'amir', 'budi', 'cinta', 'edi', 'asep'
asep = [getName for getIndex, getName in enumerate(list_name)if getName == 'asep']
print (asep)

In [1]:
bilangan = [2, 4, 3, 6, 7, 9]
bilangan_baru =[]
for i in bilangan:
  if i % 2 == 0:
    bilangan_baru.append(i+1)
  else:
    bilangan_baru.append(i+2)
print (bilangan_baru)

# while or for are allowed
#logic
 # jika bilangan genap: tambah dengan 1
 # jika bilangan ganjil: tambah dengan 2
 # hasil penjualan masukkan dalam list yang baru
#result [3, 5, 5, 7, 9, 11]

[3, 5, 5, 7, 9, 11]

In [2]:
def f(x):
  return (x+1)
f(1)

2

In [7]:
def f(x_):
 y = 1
 return x_

f(1)

# y & x = local variable, tidak dikenali oleh global environment

1

In [9]:
print (x)

NameError: name 'x' is not defined

In [10]:
print (y)

NameError: name 'y' is not defined

In [12]:
z = 2
def f(x_):
 y = 1
 return x_

f(1)

1

In [13]:
f(z)

# z adalah global variable

2

In [ ]:
z = 2 # Global Variable (variable di luar function)
def f():
 y = 1 # Local Variable (Variable di dalam function)
 return z

# f()

In [15]:
f()

2

In [16]:
print (f())

2

In [8]:
bilangan = [2, 4, 3, 6, 7, 9]

def ganjil_genap (angka):
  bilangan_baru =[]

  for i in angka:
    if i % 2 == 0:
      bilangan_baru.append(i+1)
    else:
      bilangan_baru.append(i+2)
  return bilangan_baru

print (ganjil_genap(bilangan))



# while or for are allowed
#logic
 # jika bilangan genap: tambah dengan 1
 # jika bilangan ganjil: tambah dengan 2
 # hasil penjualan masukkan dalam list yang baru
#result [3, 5, 5, 7, 9, 11]

[3, 5, 5, 7, 9, 11]

In [19]:
bilangan = [2, 4, 3, 6, 7, 9]
def ganjil_genap (i):
    if i % 2 == 0:
      return i+1
    else:
      return i+2

bilangan_baru = map(ganjil_genap, bilangan)
print (list(bilangan_baru))

[3, 5, 5, 7, 9, 11]

In [20]:
bilangan = [2, 4, 3, 6, 7, 9]
def ganjil_genap (i):
    if i % 2 == 0:
      return i+1
    else:
      return i+2

bilangan_baru = list(map(ganjil_genap, bilangan))
print (bilangan_baru)

[3, 5, 5, 7, 9, 11]

In [24]:
bilangan = [2, 4, 3, 6, 7, 9]
def ganjil_genap (angka):
    if angka % 2 == 0:
      return angka+1
    else:
      return angka+2

bilangan_baru = list(map(ganjil_genap, bilangan))
print (bilangan_baru)

[3, 5, 5, 7, 9, 11]

In [26]:
i = 9

In [27]:
i = 4

In [29]:
bilangan = [2, 4, 3, 6, 7, 9]
def ganjil_genap (angka):
    if i % 2 == 0:
      return i+1
    else:
      return i+2

bilangan_baru = list(map(ganjil_genap, bilangan))
print (bilangan_baru)

[5, 5, 5, 5, 5, 5]

*karena i terakhir yg dibaca adalah i = 4*

In [30]:
bilangan = [2, 4, 3, 6, 7, 9]
def ganjil_genap (i):
    if i % 2 == 0:
      return i+1
    else:
      return i+2

bilangan_baru = list(map(ganjil_genap, bilangan))
print (bilangan_baru)

[3, 5, 5, 7, 9, 11]

In [31]:
bilangan = [2, 4, 3, 6, 7, 9]
def ganjil_genap (i):
    if i % 2 == 0:
      return i+1
    else:
      return i+2

bilangan_baru = tuple(map(ganjil_genap, bilangan))
print (bilangan_baru)

(3, 5, 5, 7, 9, 11)

In [32]:
bilangan = [2, 4, 3, 6, 7, 9]
def ganjil_genap (i):
    if i % 2 == 0:
      return i+1
    else:
      return i+2

bilangan_baru = set(map(ganjil_genap, bilangan))
print (bilangan_baru)

{3, 5, 7, 9, 11}

# **Break and Continue**

In [33]:
for i in range (10):
  if i % 2 == 0:
   continue
  else:
    print (i)

1
3
5
7
9

In [34]:
for i in range (10):
  if i % 2 == 0:
   break #karena True maka langsung di stop. Krn kondisi yg pertama sudah memenuhi syarat yg pertama (True)
  else:
    print (i)

In [35]:
for i in range (10):
  if i % 2 == 0:
   print (i)
  else:
    break

0